$themecolor: #003b6d;
$themecolor-dark: #028ee1;
$themecolor-alt: #26c6da;
$theme-light: #fff;
$theme-dark: #212529;
$title-color: #0b3a62;
$skin1: #3587d8;
$skin2: #d83939;
$skin3: #17a991;
$skin4: #6659f7;
$skin5: #f9f9f9;
$skin6: #fff;
$topbar: $theme-light;
$topbar-height: 0px;
$topbar-navlink-padding: 0px 15px;
$topbar-navlink-font-size: 0.875rem;
$topbar-navlink-height: 49px;
$topbar-navbrand-padding: 0 15px 0 15px;
//Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #a1aab2 !default;
$gray-600: #6c757d !default;
$gray-700: #4f5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #003b6d !default;
$indigo: #6610f2 !default;
$purple: #7460ee !default;
$pink: #e83e8c !default;
$red: #ef6e6e !default;
$light-info: #e6f2fa !default;
$light-danger: #fae6e6 !default;
$light-success: #e9f9f7 !default;
$light-warning: #f8efd7 !default;
$orange: #fb8c00 !default;
$yellow: #ffbc34 !default;
$green: #22c6ab !default;
$teal: #20c997 !default;
$cyan: #01c0c8 !default;
$active-card-bg: #115caa;
// Settings for the  element.
$main-body-bg: transparent linear-gradient( 180deg, #3b6dda3b 0%, #803e6833 100%) 0% 0% no-repeat padding-box !default;
$body-bg: transparent;
$body-color: #555 !default;
$grid-gutter-width: 20px !default;
$light-text-gray: #999999;
$border-width: 1px !default;
$border-color: $gray-300 !default;
$boxed-width: 1200px;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1600px, ) !default;
$transparent-dark-bg: rgba(0, 0, 0, 0.05);
$lft: left;
$rgt: right;
// Sidebar
$sidebar-link-padding: 5px 0px 5px 0;
$sidebar-icon-size: 20px;
$sidebar-first-level-padding: 0 0 10px 0;
$sidebar-first-level-link-padding: 4px 0px;
$sidebar-first-level-icon-size: 14px;
$sidebar: $theme-light;
$sidebar-alt: #e8eff0;
$sidebar-text: $title-color;
$sidebar-icons: #0f0f0f;
$sidebar-text-dark: #212529;
$sidebar-icons-dark: #4f5467;
$sidebar-width-full: 300px;
$sidebar-width-iconbar: 180px;
$sidebar-width-mini: 65px;
$formFont:#000000;
$primaryFont: Verdana, Geneva, sans-serif;
