.do-black {
    color: black !important;
}

.do-blue-gradient {
    background: transparent linear-gradient( 90deg, #946feb81 0%, #3b6dda71 100%) 0% 0% no-repeat padding-box;
}

.do-tr-br-0 {
    background-color: transparent !important;
    border: 0px !important;
}

.do-rd-25 {
    border-radius: 0.25rem;
}

.do-f-red {
    color: red;
}

.do-orange-gradient {
    background-color: #e15b27;
    color: #fff;
    background: transparent linear-gradient( 133deg, #e15b27 0%, #e15b27 0%, #f3a98d 100%) 0% 0% no-repeat padding-box;
}